<nav class="navbar navbar-expand-lg navbar-light bg-light" style="max-height: 15vh;">
    <img src="<%= assetPath("images/logo-xatena-gold.png") %>" class="img-fluid m-3" style="width: 5%;">
    <a class="navbar-brand" href="<%= rootPath() %>">GPO Prototyp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="nav-item dropdown ms-auto mx-4">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <%= current_user.Email %> (<%= current_company.Name %>)
        </a>
        <div class="dropdown-menu dropdown-menu-dark">
            <li><a class="dropdown-item" href="<%= logoutPath() %>">Logout</a></li>
        </div>
    </div>
    <div class="nav-item mx-3">
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Suche" aria-label="Search">
        </form>
    </div>
</nav>
<%= if (breadcrumbs) { %>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="max-height: 3vh;">
        <%= partial("navbar/breadcrumbs.html") %>
    </nav>
<% } %>