<div class="py-4 mb-2">
  <h3 class="d-inline-block">Supplier Details</h3>

  <div class="float-end">
    <%= linkTo(suppliersPath(), {class: "btn btn-info"}) { %>
      Back to all Suppliers
    <% } %>
    <%= linkTo(editSupplierPath({ supplier_id: supplier.ID }), {class: "btn btn-warning", body: "Edit"}) %>
    <%= linkTo(supplierPath({ supplier_id: supplier.ID }), {class: "btn btn-danger", "data-method": "DELETE", "data-confirm": "Are you sure?", body: "Destroy"}) %>
  </div>
</div>



<ul class="list-group mb-2 ">


  <li class="list-group-item pb-1">
    <label class="small d-block">Name</label>
    <p class="d-inline-block"><%= supplier.Name %></p>
  </li>



  <li class="list-group-item pb-1">
    <label class="small d-block">Description</label>
    <p class="d-inline-block"><%= supplier.Description %></p>
  </li>



  <li class="list-group-item pb-1">
    <label class="small d-block">Gln</label>
    <p class="d-inline-block"><%= supplier.Gln %></p>
  </li>


</ul>
