<div class="py-4 mb-2">
  <h3 class="d-inline-block">Supplierreview Details</h3>

  <div class="float-end">
    <%= linkTo(supplierreviewsPath(), {class: "btn btn-info"}) { %>
      Back to all Supplierreviews
    <% } %>
    <%= linkTo(editSupplierreviewPath({ supplierreview_id: supplierreview.ID }), {class: "btn btn-warning", body: "Edit"}) %>
    <%= linkTo(supplierreviewPath({ supplierreview_id: supplierreview.ID }), {class: "btn btn-danger", "data-method": "DELETE", "data-confirm": "Are you sure?", body: "Destroy"}) %>
  </div>
</div>



<ul class="list-group mb-2 ">

</ul>
