<div class="container my-2">
    <div class="row m-2 flex-nowrap">
        <div class="col-9 bg-light border border-secondary rounded m-2">
            <div class="d-flex text-body-secondary pt-3">
                <img class="me-3" src="<%= assetPath("images/supplier.png") %>" alt="" width="48" height="44">
                <div class="pb-3 mb-0 small lh-sm border-bottom w-100 d-flex flex-column align-items-start">
                    <div class="flex-row">
                        <strong class="text-gray-dark">Lieferanten suchen</strong>
                        <div class="input my-2 col">
                            <input type="text" class="form-control" placeholder="Nach Name oder GLN suchen">
                        </div>
                    </div>
                </div>
            </div>
            <%= linkTo(companyGpoSuppliersPath({ company_id: company.ID, gpo_id: gpo.ID }), {class: "text-decoration-none btn d-flex flex-column"}) { %>
            <div class="d-flex text-body-secondary pt-3">
                <img class="me-3" src="<%= assetPath("images/contract.png") %>" alt="" width="48" height="44">
                <div class="pb-3 mb-0 small lh-sm border-bottom w-100 d-flex flex-column align-items-start">
                    <div class="flex-row">
                        <strong class="text-gray-dark">Verträge</strong>
                    </div>
                    <span class="flex-row">Konditionen importieren, Verträge einsehen und bewerten</span>
                </div>
            </div>
            <% } %>
            <%= linkTo(companyGpoSuppliersPath({ company_id: company.ID, gpo_id: gpo.ID }), {class: "text-decoration-none btn d-flex flex-column"}) { %>
            <div class="d-flex text-body-secondary pt-3">
                <img class="me-3" src="<%= assetPath("images/review.png") %>" alt="" width="48" height="44">
                <div class="pb-3 mb-0 small lh-sm border-bottom w-100 d-flex flex-column align-items-start">
                    <div class="flex-row">
                        <strong class="text-gray-dark">Compliance & Bewertungen</strong>
                    </div>
                    <span class="flex-row">Lieferanten bewerten und Zertifizierungen einsehen</span>
                </div>
            </div>
            <% } %>
            <%= linkTo(companyGpoSuppliersPath({ company_id: company.ID, gpo_id: gpo.ID }), {class: "text-decoration-none btn d-flex flex-column"}) { %>
            <div class="d-flex text-body-secondary pt-3">
                <img class="me-3" src="<%= assetPath("images/onboarding.png") %>" alt="" width="48" height="44">
                <div class="pb-3 mb-0 small lh-sm border-bottom w-100 d-flex flex-column align-items-start">
                    <div class="flex-row">
                        <strong class="text-gray-dark">Onboarding</strong>
                    </div>
                    <span class="flex-row">Workflow für das Onboarding neuer Lieferanten</span>
                </div>
            </div>
            <% } %>
        </div>
        <div class="col-5">
            <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white">
                <a href="/"
                    class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
                    <svg class="bi me-2" width="30" height="24">
                        <use xlink:href="#bootstrap"></use>
                    </svg>
                    <span class="fs-5 fw-semibold">News</span>
                </a>
                <div class="list-group list-group-flush border-bottom scrollarea">
                    <a href="#" class="list-group-item list-group-item-action active py-3 lh-tight" aria-current="true">
                        <div class="d-flex w-100 align-items-center justify-content-between">
                            <strong class="mb-1">Stanozolol Lieferengpass</strong>
                            <small>Heute</small>
                        </div>
                        <div class="col-10 mb-1 small">Ausfuhrbeschränkungen in Indien behindern Lieferungen.</div>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
                        <div class="d-flex w-100 align-items-center justify-content-between">
                            <strong class="mb-1">Rückruf für 8mm Trachealtubus</strong>
                            <small class="text-muted">Dienstag</small>
                        </div>
                        <div class="col-10 mb-1 small">Hersteller Medtronic Inc., GTIN 50884521103250</div>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
                        <div class="d-flex w-100 align-items-center justify-content-between">
                            <strong class="mb-1">Anpassung Verpackungsgrösse Solucart Kasette BSCART018</strong>
                            <small class="text-muted">Dienstag</small>
                        </div>
                        <div class="col-10 mb-1 small">Informationen von GDSN übernommen.</div>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
                        <div class="d-flex w-100 align-items-center justify-content-between">
                            <strong class="mb-1">Anfrage für Investitionsplanung #23FF vom 3.4.2023</strong>
                            <small class="text-muted">Dienstag</small>
                        </div>
                        <div class="col-10 mb-1 small">Angefragt von @ruedi.braun</div>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
                        <div class="d-flex w-100 align-items-center justify-content-between">
                            <strong class="mb-1">Xatena: Wartungsarbeiten an GPO Modul</strong>
                            <small class="text-muted">Montag</small>
                        </div>
                        <div class="col-10 mb-1 small">Geplant für 3.6.2023 22:00</div>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
                        <div class="d-flex w-100 align-items-center justify-content-between">
                            <strong class="mb-1">Neues Mitglied: Orthopädie Baselland</strong>
                            <small class="text-muted">Montag</small>
                        </div>
                        <div class="col-10 mb-1 small">Bitte Rechteverwaltung überprüfen</div>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
                        <div class="d-flex w-100 align-items-center justify-content-between">
                            <strong class="mb-1">Neues Feature: AI gestützte Vertragsverwaltung</strong>
                            <small class="text-muted">Sonntag</small>
                        </div>
                        <div class="col-10 mb-1 small">Xatena Release 3.25.3</div>
                    </a>
                </div>
                <a href="#" class="mt-2">Mehr</a>
            </div>
        </div>
    </div>
</div>

