<form class="row g-3">
    <div class="col-12">
        <label for="inputAddress" class="form-label">Name</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="Meine erste Einkaufsgemeinschaft GmbH">
    </div>
    <div class="col-12">
        <label for="inputDescription" class="form-label">Beschreibung</label>
        <input type="text" class="form-control" id="inputDescription" placeholder="Beschreibung">
    </div>
    <div class="col-12">
        <label for="inputUsers" class="form-label">Benutzer einladen</label>
        <input type="text" class="form-control" id="inputUsers" placeholder="Username">
    </div>
    <div class="col-12">
        <div class="row">
            <label class="col-6">Profilbild </label>
            <div class="col-sm-4 text-center">
                <div class="kv-avatar">
                    <div class="file-loading">
                        <input id="avatar-1" name="avatar-1" type="file" required>
                    </div>
                </div>
                <div class="kv-avatar-hint">
                    <small>PNG oder JPEG</small>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Erstellen</button>
    </div>
</form>