@import "~bootstrap/scss/bootstrap.scss";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

@import "buffalo";

body {
    background-color: rgb(249, 255, 249);
}

.content-body {
    border-top: 2px black;
}

.navbar {
    background-color: rgb(231, 231, 231);
}

.main-container {
    //margin-left: 10%;
    //margin-right: 10%
}

.app-card-body-text {
    height: 60px;
}


.star-rating {
    float:left;
    border:none;
}
.star-rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0, 0, 0, 0);
}
.star-rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:0.8;
    color:#ddd;
}
.star-rating:not(:checked) > label:before {
    content:'★ ';
}
.star-rating > input:checked ~ label {
    color: #f70;
}
.star-rating:not(:checked) > label:hover, .star-rating:not(:checked) > label:hover ~ label {
    color: gold;
}
.star-rating > input:checked + label:hover, .star-rating > input:checked + label:hover ~ label, .star-rating > input:checked ~ label:hover, .star-rating > input:checked ~ label:hover ~ label, .star-rating > label:hover ~ input:checked ~ label {
    color: #ea0;
}
.star-rating > label:active {
    position:relative;
}